.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  
  .navbar{
    background-color: #333; /* Background color for the navigation bar */
    display: flex;
    justify-content: space-between; /* Place logo and menu at the extremes */
    align-items: center;
    /* padding: 1px; */
  
  }
  
  .icon img{
    width: 170px; 
    margin-right: 10px;
    
  }
  
  .logo{
    color:blue;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
  
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 60px;
  }
  
  .menu ul li:last-child {
    margin-right: -700px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    text-align: right;
    margin-left: 208px;
  }
  ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
  }
  
  ul li a{
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  ul li a:hover{
    color: #ff7200;
  }